.rightBtnAnim{
    /*position: relative;*/
    animation: 1.7s linear rightAnim;
}
.leftBtnAnim{
    /*position: relative;*/
    animation: 1.5s linear leftAnim;
}
@keyframes leftAnim {
    from{
        transform-origin: bottom left;
        transform: translateY(-1400px);
    }
    19%{
        transform: translateY(-1400px);
        transform-origin: bottom left;
    }
    49%{
           transform-origin: bottom left;
       }
    50%, 57% {
        transform-origin: center;
        /*transform: rotateZ(0);*/
    }
    65% {
        transform: rotateZ(-45deg) translateY(0px);
    }
    70% {
        transform: rotateZ(20deg) ;
    }
    75% {
        transform: rotateZ(-20deg);
    }
    80% {
        transform: rotateZ(6deg);
    }
    85% {
        transform: rotateZ(-4deg);
    }
    90%, 100% {
        transform: rotateZ(0);
    }
}

@keyframes rightAnim {
    from {
        transform-origin: bottom left;
        transform: translateY(-1400px);
    }
    19% {

        transform: translateY(-1400px);
        transform-origin: bottom left;
    }
    49% {
        transform-origin: bottom left;
    }
    50%, 57% {
        transform-origin: center;
        /*transform: rotateZ(0);*/
    }
    65% {
        transform: rotateZ(15deg) translateY(0px);
    }
    70% {
        transform: rotateZ(-10deg);
    }
    75% {
        transform: rotateZ(10deg);
    }
    80% {
        transform: rotateZ(-6deg);
    }
    85% {
        transform: rotateZ(4deg);
    }
    90%, 100% {
        transform: rotateZ(0);
    }
}
