.rightBtnAnim{
    /*position: relative;*/
    animation: 3.4s linear rightAnim;
}
.leftBtnAnim{
    /*position: relative;*/
    animation: 3s linear leftAnim;
}
@keyframes leftAnim {
    0%{
        transform-origin: bottom left;
        transform: translateY(-1400px);
    }
    59.5%{
        transform: translateY(-1400px);
        transform-origin: bottom left;
    }
    74.5%{
           transform-origin: bottom left;
       }
    75%, 78.5% {
        transform-origin: center;
        /*transform: rotateZ(0);*/
    }
    82.5% {
        transform: rotateZ(-45deg) translateY(0px);
    }
    85% {
        transform: rotateZ(20deg) ;
    }
    87.5% {
        transform: rotateZ(-20deg);
    }
    90% {
        transform: rotateZ(6deg);
    }
    92.5% {
        transform: rotateZ(-4deg);
    }
    95%, 100% {
        transform: rotateZ(0);
    }
}

@keyframes rightAnim {
    0% {
        transform-origin: bottom left;
        transform: translateY(-1400px);
    }
    59.5%{
        transform: translateY(-1400px);
        transform-origin: bottom left;
    }
    74.5% {
        transform-origin: bottom left;
    }
    75%, 78.5% {
        transform-origin: center;
        /*transform: rotateZ(0);*/
    }
    82.5% {
        transform: rotateZ(15deg) translateY(0px);
    }
    85% {
        transform: rotateZ(-10deg);
    }
    87.5%  {
        transform: rotateZ(10deg);
    }
    90% {
        transform: rotateZ(-6deg);
    }
    92.5% {
        transform: rotateZ(4deg);
    }
    95%, 100% {
        transform: rotateZ(0);
    }
}
