.cards{
    width:100%;
    max-width: 592px;
    margin: auto;
    border-radius: 30px;
    background-color: white;
    text-align: left;
    margin-bottom:50px;
    background: none;
    position: relative;
}
.courseCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1280px;
    gap: 10px;
    padding-bottom:20px;
    margin: auto;
}
.cardTitle{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
}
.ul li{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color:#004A9E;
    background-color: #FCD444;
    width: fit-content;
    border-radius: 5px;
    padding:4px;
    padding-left: 8px;
    padding-right: 8px;
    
}
.content .ul {
    list-style-type: none;
}
.content .ul li:before {
    content: '•';
    margin-right: 6.6px;
}
.ul{
    display: flex;
    gap:5px;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cards p,.cards p span{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    color:#5F5F5F;
}
.cards p span{
    font-weight: 400;
}
.content{
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:50px;
}
.price{
    float: left;
    line-height:26px;
}
.priceNumber{
    background-color: #32A653;
    border-radius: 20px;
    color: white;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Inter';
    font-weight: 600;
    font-size:18px;
    margin-left:10px;
}
.cardsA1{
    float: right;
    text-decoration: underline;
    color: #3C8BDA;
    font-size: 14px;
}
.cardsA2{
    float: right;
    text-decoration: underline;
    color: #3C8BDA;
    font-size: 14px;
}
#target1:target .front {
    transform: rotateY(180deg);
    position: absolute;
}
#target1:target .back {
    transform: rotateY(360deg);
    position: relative;
}
#preschoolCourse:target .front {
    transform: rotateY(-180deg);
    position: relative;

}
#preschoolCourse:target .back {
    transform: rotateY(-360deg);
    position: absolute;
}
#secondTarget:target .secondFront {
    transform: rotateY(180deg);
    position: absolute;
}
#secondTarget:target .secondBack {
    transform: rotateY(360deg);
    position: relative;
}
#schoolCourse:target .secondFront {
    transform: rotateY(-180deg);
    position: relative;
}
#schoolCourse:target .secondBack  {
    transform: rotateY(-360deg);
    position: absolute;
}
.back, .front,.secondBack, .secondFront{
  backface-visibility: hidden;
  min-height: 317px;
  transition: 1s;
  border-radius: 30px;
}
.secondBack, .back{
      position: absolute;
      top:0;
}
.back , .secondBack {
  transform: rotateY(180deg);
  background-color: white;
}
.back span , .secondBack span{
    margin-top: 10px;
}
.front, .secondFront {
  background-color: white;
  
}
.back, .secondBack{
    height:inherit;
    width:100%;
    padding-top:20px;
  }
  .back a, .secondBack a{
    position: absolute;
    bottom: 20px;
    right:20px;
}
@media (min-width: 770px) {
    .back, .front,.secondBack, .secondFront{
        position: absolute;
        height: 664px;
    }
    .cards{
      position: relative;
      height:664px;
      perspective: 1000px;
      background: none;
    }
   
    .cardTitle{
        font-size:28px;
    }
    .ul li, .cards p,.cards p span, .cards a{
        font-size: 18px;
    }
    #preschool, #school{
        justify-content: left;
        vertical-align: middle;
        gap:40px;
        
    }
    .textCourses{
        display: flex;
        flex-direction: column;
        text-align: left;
        vertical-align: middle;
        justify-content: center;
    }
    .courses{
        flex-wrap: nowrap;
    }
}