.logo {
  width: 74px;
  height: 22px;
  align-self: center;
}
.instaLogo {
  width: 44px;
  height: 44px;
  align-self: center;
}
.phoneLogo {
  width: 50px;
  height: 50px;
}
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 114px;
  height: 50px;
  align-self: center;
}
.headerMenu {
  display: flex;
  height: 62px;
  justify-content: space-between;
  align-content: center;
}
.offcanvas-header .subtitle {
  font-size: 39px;
}
.header {
  background:url(images/animalsMob.png) center 65%, url(images/backMob.png) ;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% auto,100% 90%;
  height: 100vh;
}

.title {
  font-family: "DrukWideBold";
  font-size: 34px;
  margin-top: 15px;
}
.subtitle {
  font-family: "Shnobel";
  font-size: 31px;
  margin: auto;
}
.subtitle span {
  color: #3c8bda;
}
.arrow {
  position: absolute;
  bottom: 3%;
  left: 45%;
  width: 49px;
  height: 49px;
  overflow: hidden;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  background: url(images/Ellipse.png);
}
.arrow1 {
  position: absolute;
  animation: arrow 1s linear infinite;
}
.arrow2 {
  position: absolute;
  animation: arrow 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes arrow {
  from {
    top: -49px;
  }
  to {
    top: 49px;
  }
}
.offcanvas-top {
  min-height: 130vh !important;
}
.dropMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  margin: auto;
  gap: 10px;
}
.text {
  width: 250px;
  margin: auto;
  text-align: left;
}
input {
  border-radius: 68px;
  height: 51px;
  border: 1px solid #5f5f5f;
  padding-left: 20px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  max-width: 320px;
}
.sendBtn {
  border-radius: 68px;
  border: none;
  height: 79px;
  background-color: black;
  color: white;
  width: 100%;
  max-width: 320px;
  font-size: 42px;
}
#preschool, #school {
  height: 208px;
  width: 100%;
  max-width:592px;
  padding: 20px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 5px;
}
.courses {
  margin: auto;
  max-width: 592px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.preschool {
  background-color: #32a653;
  color: white;
}
.school {
  background-color: #fcd444;
  color: black;
}
#book, #pencil , #bookHover, #pencilHover{
  height: 91px;
  width: auto;
  margin: auto;
}
#bookHover, #pencilHover{
  display:none;
}
.kids{
  color: #fcd444;
}
.middleKids {
  color: #004a9e;
}
.phoneContainer{
  display: none;
  width: 177px;
  font-size: 18px;
  align-items: center;
  gap:2px;
}
.phoneContainer img{
  width: 21px;
  height: 21px;
}
.contacts{
  width: fit-content;
  gap:2vw;
}
.bigPhoneBtn{
  display: none;
}
@media (min-width: 770px) {
  .phoneLogo{
    display: none;
  }
  .bigPhoneBtn{
    display: flex;
    padding: 13px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 500px;
    border: 1px solid var(--unnamed, #FFF);
    background: var(--01, linear-gradient(180deg, #FFF 0%, #CFDDEB 100%));
    box-shadow: 0px 13px 20px 0px rgba(150, 120, 12, 0.31);
  }
  .phoneContainer{
    display: flex;
    font-size: 16px;
  }
  .headerMenu{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    color: #004A9E;
    justify-content: center;
    gap:8vw;
  }
  .contacts{
    gap:2vw;
    
  }
  #sendBtn3, #sendBtn2,#sendBtn{
    font-size: 50px;
  }
  .logo {
    width: 139px;
    height: 43px;
  }
  .courses {
    flex-direction: row;
    height:auto;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    
  }
  #book, #pencil , #bookHover, #pencilHover{
    height: 117px;
    width: auto;
    margin: auto;
  }
  #preschool, #school{
    display: flex;
    flex-direction: row;
    width:592px;
    height: 144px;
  }
  .courses div{
    height: 144px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .bookImg{
    width: 155px;
  }
  .textCourses{
    font-size: 20px;
  }
  .header {
    background-image: url(images/back.png);
    background-position: right top;
    background-size: 50vw;
    min-height:40vh;
  }
  .arrow, .animals {
    display: none;
  }
  .text{
    width: 100%;
    margin-top:13vw;
    max-width: 1200px;

  }
  .preschool:hover #book{
    display:none;
  }
  .preschool:hover #bookHover{
    display: block;
  }
  .preschool:hover{
  box-shadow: 0px 16px 31px 0px rgba(143, 113, 8, 0.48);
  }
  .school:hover{
    box-shadow: 0px 16px 31px 0px rgba(143, 113, 8, 0.48);
    }
  .school:hover #pencil{
    display:none;
  }
  .school:hover #pencilHover{
    display: block;
  }
}
@media (min-width:1049px){
  .text{
    text-align: left;
  }
}

@media (min-width:1200px){
  .header{
    min-height:90vh;
    background: url(images/back.png) right top no-repeat, url(images/calc.png) left top no-repeat, url(images/triangle.png) left 200px no-repeat;
    background-size: 40%, 15%, 15%;
  }

}
