@import "header.css";
@import "whyWe.css";
@import "testLesson.css";
@import "courseCards.css";
@import "footer.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "DrukWideBold";
  src: url(fonts/inter-extra-bold.otf) format("opentype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Shnobel";
  src: url(fonts/Shnobel-Regular.otf) format("opentype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Lalezar";
  src: url(fonts/Lalezar-Regular.ttf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8fafd;
  -webkit-text-size-adjust: none;
}
* {
  -webkit-text-size-adjust: none;
}

img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.section {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
section.fixed div {
  -webkit-text-size-adjust: none;
}
@media screen and (min-width:770px){
    .zoom{
        zoom:50%;
    }
    body{
   
      background: url(images/island1.png) left 18% ,
      url(images/island2.png) right 38% ,
      url(images/island3.png) left 56% ,
      url(images/island4.png) right 74%,
      url(images/calc.png) left top no-repeat,
      url(images/triangle.png) left 4% no-repeat,
      url(images/back.png) right top no-repeat,
      #f8fafd;
      background-repeat: no-repeat;
      background-size: 10%, 10%, 10%, 10%, 20%, 15%, 51%;
  }
}

@media screen and (min-width:1100px){
  .zoom{
      zoom:60%;
  }
}
@media screen and (min-width:1200px){
  .zoom{
      zoom:70%;
  }
  body{
    background-size: 10%, 10%, 10%, 10%, 20%, 15%, 57%;
  }
}
@media screen and (min-width:1300px){
  .zoom{
      zoom:80%;
  }
}
@media screen and (min-width:1400px){
  .zoom{
      zoom:85%;
  }
}
@media screen and (min-width:1500px){
  .zoom{
      zoom:90%;
  }
}
@media screen and (min-width:1600px){
  .zoom{
      zoom:95%;
  }
}
@media screen and (min-width:1700px){
  .zoom{
      zoom:100%;
  }
}
@media screen and (min-width:2000px){
  body {
    background-size: 10%, 10%, 10%, 10%, 20%, 15%, 43%;
  }
}