.whyWe .subtitle {
  text-transform: uppercase;
}
.dottedImg {
  background: url(images/blueItem.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 68px;
  height: 54px;
  position: relative;
}
.dottedImg:hover {
  background: url(images/greenItem.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 68px;
  height: 54px;
  position: relative;
}
.dottedItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
}
.dottedItem .subtitle:hover{
  border-image-source: url(images/underline.png);
  border-image-slice: 0 0 22 0 ;
  border-image-width: 20px 20px 20px 20px ;
  border-image-outset: 0px 0px 0px 0px ;
  border-image-repeat: stretch stretch ;

}
.dottedItem .subtitle {
  text-align: left;
}
.dotted {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  padding-top: 30px;
  gap: 10px;
}
.dottedImg img {
  width: 22.55px;
  height: auto;
  position: absolute;
  top: 38px;
  left: 53px;
}
.listNumber {
  font-family: "Lalezar";
  font-size: 35px;
  color: white;
  line-height: 58px;
}
.whyTitle {
  font-size: 39px;
  color: #004a9e;
}
.whySubtitle {
  font-size: 33.3px;
  color: #fcd444;
}
.whyBorder {
  background-color: #3c8bda;
  border-radius: 7.98px;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.invisibleInput{
  display: none;
}
.popupContainer{
  position: relative;
}
.popupContent{
  width: 516.071px;
  min-height: 175.154px;
  align-items: center;
  justify-content: center;
  display: none;
}
.textPopupConbtainer{
  width: 383px;
}
.rightPopup{
  position: absolute;
  right: -494px;
  top: -29px;
  background: url("images/bgGreenPopup.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.leftPopup{
  position: absolute;
  left: -494px;
  top: -29px;
  background: url("images/bgBluePopup.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 770px) {
  .invisibleInput:checked~.popupContainer>.popupContent{
    display: flex;
  }
  .invisibleInput:checked~div>.subtitle{
    display: none;
  }

  .dotted {
    background-image: url(images/dottedLine.png);
    background-repeat: no-repeat;
    background-size: 1200px 1000px;
    background-position: top center;
    width: 1200px;
    height: 1070px;
    
  }
  .dottedItem:nth-child(even) {
    justify-content: right;
  }
  .dottedItem {
    height: 553px;
    align-items: flex-end;
    padding-left:50px;
    padding-right:80px;
  }
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  #whyBorder {
    margin: 0;
  }
  .dottedImg {
    width:137px;
    height:110px;
  }
  .dottedImg img {
    width: 52.55px;
    height: auto;
    position: absolute;
    top: 78px;
    left: 93px;
    display: none;
  }
  .dottedImg:hover {
    width:137px;
    height:110px;
  }
  .dottedImg:hover img{
    display: block;
    
  }
  .listNumber {
    font-size: 71px;
    line-height: 110px;
  }

}
