#elephant{
    width:80px;
    height: 104px;
}
.footer{
    display: flex;
    justify-content: left;
    flex-direction: row;
    justify-content: center;
    padding-bottom:10px;
}
.insta{
    background-image: url(images/insta.png) ;
}
.fb{
    background-image: url(images/fb.png) ;
}
.telegram{
    background-image: url(images/telegram.png) ;
}
.viber{
    background-image: url(images/viber.png) ;
}
.socials a{
    height: 44px;
}
.socials a div{
    width:44px;
    height: 44px;
    background-size: cover;
}
.socials{
    display: flex;
    height: 44px;
    gap:10px;
    justify-content: center;
}
.footer .logo{
    align-self: flex-end;
}
.footerSection .subtitle{
    text-transform: uppercase;
}
@media (min-width: 770px) {
    .socials a{
        height: 52px;
    }
    .socials a div{
        width:52px;
        height: 52px;
    }
    .insta:hover{
        background-image: url(images/blueInsta.png) ;
    }
    .fb:hover{
        background-image: url(images/blueFb.png) ;
    }
    .telegram:hover{
        background-image: url(images/blueTelegram.png) ;
    }
    .viber:hover{
        background-image: url(images/blueViber.png) ;
    }
    #elephant{
        width:144px;
        height: 186.32px;
    }
}